/* Common css */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 100%; }

body {
  margin: 0;
  padding: 0;
  line-height: 1.7;
  font-weight: 500;
  font: 14px 'Open Sans', sans-serif; }

div {
  display: block; }

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none !important; }

/* Header Top */
.header-top {
  width: 100%;
  height: 42px;
  background-color: #1F3345;
  border-top: 2px solid #FF5D56; }

.header-top a:hover {
  color: #FF5D56; }

.header-top-left {
  float: left; }

.header-top-left li {
  float: left;
  margin: 10px 30px 10px 0; }

.header-top-left a {
  color: white; }

.header-top-right {
  float: right; }

.header-top-right li {
  float: left;
  margin: 10px 10px 10px 0; }

.header-top-right a {
  color: white;
  font-size: 13px;
  font-weight: 600; }

/* Header Navigation */
.header-nav {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 85px;
  background: #fff;
  z-index: 50;
  position: relative; }

.nav-scroll {
  -webkit-box-shadow: -8px 2px 21px -10px;
  box-shadow: -8px 2px 21px -10px;
  position: fixed;
  z-index: 50;
  top: 0;
  right: 0;
  left: 0;
  background-color: white; }

.logo {
  float: left;
  margin: 20px 0; }

.logo a {
  font: 24px "Open Sans", sans-serif;
  font-weight: 700;
  color: #FF5D56; }

.menu {
  float: right; }

.responsive-menu {
  float: right;
  padding: 20px 6px;
  display: none; }

.responsive-menu a {
  color: #777777;
  font-size: 30px; }

@media screen and (max-width: 1000px) {
  .header-top {
    display: none; }

  .responsive-menu {
    display: block;
    cursor: pointer; }

  .menu {
    padding-top: 10px !important;
    display: block; }

  .js-active {
    display: none; }

  .menu li {
    width: 100%;
    display: block;
    float: left;
    position: relative;
    padding: 0 !important; }

  .menu li a {
    border-bottom: 1px solid #e2e2e2;
    padding: 12px 20px; } }
.menu li {
  float: left;
  padding: 24px 0;
  display: inline-block; }

.menu a {
  font: 14px 'Montserrat', sans-serif;
  font-weight: 700;
  padding: 8px 16px;
  cursor: pointer;
  color: #404040; }

.menu a:hover,
.dropdown:hover .nav-link {
  background-color: #FF5D56;
  color: #fff;
  transition: .3s; }

.active {
  background-color: #FF5D56;
  color: #fff !important; }

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 1;
  top: 65px !important;
  border: 0 none;
  padding: 0; }

.dropdown-item {
  padding: 10px 15px !important; }

.dropdown:hover .dropdown-menu {
  display: block; }

.dropdown-menu a {
  cursor: pointer; }

.dropdown-menu a:hover {
  background-color: #FF5D56;
  padding: 10px 23px !important;
  transition: .3s; }

#features {
  background-color: #F7F7F7; }

.choosewebtech {
  margin-top: 80px; }

.choosewebtech h2 {
  text-align: center;
  font: 32px "Open Sans", sans-serif;
  font-weight: 600; }

.choosewebtech p {
  text-align: center;
  color: #777777;
  font-size: 18px;
  margin: 0 220px 15px 220px; }

.choose-card {
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 18px;
  text-align: center;
  background-color: #fff;
  border-radius: 14px;
  transition: all 0.7s; }

.choose-card:hover {
  transform: translateY(-15px); }

.choose-card:hover i {
  border: 4px solid white;
  border-radius: 100%; }

.choose-card h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px; }

.choose-card p {
  color: #777777;
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 1.5; }

.icons {
  font-size: 47px;
  border-radius: 100%;
  margin-top: 0;
  margin-bottom: 10px;
  width: 35%;
  height: 105px;
  display: inline-block;
  padding: 6px 6px 6px 6px; }

.icons i {
  color: white;
  text-align: center;
  padding: 25px 18px;
  width: 91px;
  height: 91px;
  transition: all 0.4s; }

.portfolio {
  background-color: #F64860; }

.globus {
  background-color: #FFBC0A; }

.experiment {
  background-color: #B3D36A; }

/*# sourceMappingURL=style.css.map */
